<!DOCTYPE html>
<html>
<head>
  <title>Warriors2016 - Documenting the Best Season Ever </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<a class="navbar-brand" href="/">Warriors2016 - Documenting the Best Season Ever </a>
		<ul class="nav navbar-nav navbar-right">
      <li><%= link_to"73-9", "#"%></li>
		  <!-- <li><%= link_to "Home", root_path %></li>
       <li><%= link_to "About", about_path %></li>
       <% if user_signed_in? %>
          <li><%= link_to "Pins", pins_path %></li>
       	  <li><%= link_to "Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :get, :confirm=> "Are you sure?" %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>-->
    </ul>
    </div>
	</nav>

<div class ="container">
	<% flash.each do |name,msg| %>
	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
	<% end %>
	<%= yield %>
</div>

</body>
</html>
